body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:1500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u460 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:1500px;
}
#u461 {
  position:absolute;
  left:2px;
  top:742px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1501px;
  height:5px;
}
#u462 {
  position:absolute;
  left:0px;
  top:74px;
  width:1498px;
  height:2px;
}
#u463 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  position:absolute;
  left:1190px;
  top:48px;
  width:80px;
  height:16px;
}
#u465 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u466 {
  position:absolute;
  left:1275px;
  top:48px;
  width:1px;
  height:16px;
}
#u467 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u468 {
  position:absolute;
  left:1285px;
  top:48px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u470 {
  position:absolute;
  left:50px;
  top:14px;
  width:300px;
  height:50px;
}
#u471 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:590px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u472 {
  position:absolute;
  left:20px;
  top:90px;
  width:180px;
  height:590px;
}
#u473 {
  position:absolute;
  left:2px;
  top:287px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u474 {
  position:absolute;
  left:40px;
  top:100px;
  width:130px;
  height:70px;
}
#u475 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u476 {
  position:absolute;
  left:20px;
  top:180px;
  width:180px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u477 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u478 {
  position:absolute;
  left:20px;
  top:220px;
  width:180px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u479 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u480 {
  position:absolute;
  left:215px;
  top:90px;
  width:700px;
  height:470px;
}
#u481 {
  position:absolute;
  left:2px;
  top:227px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u482 {
  position:absolute;
  left:240px;
  top:110px;
  width:210px;
  height:29px;
  font-size:25px;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:2px;
}
#u484 {
  position:absolute;
  left:225px;
  top:145px;
  width:680px;
  height:1px;
}
#u485 {
  position:absolute;
  left:2px;
  top:-8px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u487 {
  position:absolute;
  left:306px;
  top:377px;
  width:44px;
  height:16px;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u489 {
  position:absolute;
  left:350px;
  top:370px;
  width:200px;
  height:100px;
}
#u489_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u490 {
  position:absolute;
  left:350px;
  top:500px;
  width:100px;
  height:30px;
}
#u490_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u491 {
  position:absolute;
  left:610px;
  top:500px;
  width:100px;
  height:30px;
}
#u491_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u492 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u493 {
  position:absolute;
  left:280px;
  top:177px;
  width:70px;
  height:16px;
}
#u494 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u495 {
  position:absolute;
  left:270px;
  top:180px;
  width:11px;
  height:16px;
  color:#FF0000;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u497 {
  position:absolute;
  left:350px;
  top:177px;
  width:78px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u498 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u499 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u500 {
  position:absolute;
  left:306px;
  top:277px;
  width:44px;
  height:16px;
}
#u501 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u502 {
  position:absolute;
  left:296px;
  top:280px;
  width:7px;
  height:16px;
  color:#FF0000;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  word-wrap:break-word;
}
#u504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u504 {
  position:absolute;
  left:350px;
  top:277px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u505 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u507 {
  position:absolute;
  left:280px;
  top:327px;
  width:70px;
  height:16px;
}
#u508 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u509 {
  position:absolute;
  left:270px;
  top:330px;
  width:11px;
  height:16px;
  color:#FF0000;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u511 {
  position:absolute;
  left:350px;
  top:327px;
  width:79px;
  height:16px;
  color:#000000;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u514 {
  position:absolute;
  left:280px;
  top:227px;
  width:70px;
  height:16px;
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u516 {
  position:absolute;
  left:350px;
  top:220px;
  width:200px;
  height:30px;
}
#u516_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u517 {
  position:absolute;
  left:270px;
  top:230px;
  width:11px;
  height:16px;
  color:#FF0000;
}
#u518 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
