body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:1500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:1500px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:742px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1501px;
  height:5px;
}
#u1642 {
  position:absolute;
  left:0px;
  top:74px;
  width:1498px;
  height:2px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1644 {
  position:absolute;
  left:1190px;
  top:48px;
  width:80px;
  height:16px;
}
#u1645 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u1646 {
  position:absolute;
  left:1275px;
  top:48px;
  width:1px;
  height:16px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1648 {
  position:absolute;
  left:1285px;
  top:48px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u1649 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u1650 {
  position:absolute;
  left:50px;
  top:14px;
  width:300px;
  height:50px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:590px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1652 {
  position:absolute;
  left:20px;
  top:90px;
  width:180px;
  height:590px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:287px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u1654 {
  position:absolute;
  left:40px;
  top:100px;
  width:130px;
  height:70px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1656 {
  position:absolute;
  left:20px;
  top:180px;
  width:180px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1657 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1658 {
  position:absolute;
  left:20px;
  top:220px;
  width:180px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1659 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u1660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1660 {
  position:absolute;
  left:20px;
  top:260px;
  width:180px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1661 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1662 {
  position:absolute;
  left:215px;
  top:90px;
  width:700px;
  height:380px;
}
#u1663 {
  position:absolute;
  left:2px;
  top:182px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u1664 {
  position:absolute;
  left:240px;
  top:110px;
  width:160px;
  height:29px;
  font-size:25px;
}
#u1665 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:2px;
}
#u1666 {
  position:absolute;
  left:225px;
  top:145px;
  width:680px;
  height:1px;
}
#u1667 {
  position:absolute;
  left:2px;
  top:-8px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u1668 {
  position:absolute;
  left:270px;
  top:190px;
  width:163px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u1669 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1670 {
  position:absolute;
  left:515px;
  top:420px;
  width:100px;
  height:30px;
}
#u1670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1672 {
  position:absolute;
  left:280px;
  top:287px;
  width:70px;
  height:16px;
}
#u1673 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1674 {
  position:absolute;
  left:270px;
  top:290px;
  width:11px;
  height:16px;
  color:#FF0000;
}
#u1675 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u1676 {
  position:absolute;
  left:350px;
  top:287px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u1677 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1678 {
  position:absolute;
  left:280px;
  top:337px;
  width:70px;
  height:16px;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1680 {
  position:absolute;
  left:270px;
  top:340px;
  width:11px;
  height:16px;
  color:#FF0000;
}
#u1681 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u1682 {
  position:absolute;
  left:350px;
  top:337px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u1683 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1684 {
  position:absolute;
  left:225px;
  top:245px;
  width:113px;
  height:22px;
  font-size:16px;
}
#u1685 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1686 {
  position:absolute;
  left:280px;
  top:387px;
  width:70px;
  height:16px;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1688 {
  position:absolute;
  left:270px;
  top:390px;
  width:11px;
  height:16px;
  color:#FF0000;
}
#u1689 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u1690 {
  position:absolute;
  left:350px;
  top:387px;
  width:118px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
